{% comment %} 
Shopify Add-Ons Template: Main Product + Chargeable Add-Ons
Place this in your product template or as a custom section/snippet
Main Product Variant ID (replace with your main product's variant ID)
<input type="hidden" id="main-variant-id" value="{{ product.selected_or_first_available_variant.id }}"> 
{% endcomment %}

{% assign addon_tag = "add-on-" | append: parent_product_code %}
{% assign addon_products = collections['add-ons'].products %}

<h3>Add-Ons (Charged Separately):</h3>
<p>Select as many add-ons as you like:</p>
<div>
  {% for addon in addon_products %}
    {% if addon.tags contains addon_tag %}
      {% render 'addon-template', addon: addon %}
    {% endif %}
  {% endfor %}
</div>