name: Run Script on Main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run custom script
        run: |
          chmod +x ./simple-n-dumb.sh
          ./simple-n-dumb.sh
